body{
    background: rgba(239, 244, 239, 0.133);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
   
    &__wrapper{
        min-width: 1024px;
        display: flex;
        gap: 20px;
        
    }
}

.login{
    &__wrapper{
        padding: 10px 20px;
        max-width: 1024px;
        margin: 0   auto;
    }
}

@import "sidebar";