@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap);
@import "bootstrap.min.css";

/* ------------------------------------------------
    CSS
------------------------------------------------ */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif !important;
}

.header {
  position: relative;
  line-height: 1.5625;
  z-index: 1000;
}

.header-black {
  margin-top: -80px;
  height: 80px;
}

.header.fixed .header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

#hero {
  background: url(../img/bg1.jpg) 0% 80% / cover !important;
  position: relative;
  z-index: 0;
}

#hero:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0deg 0% 0% / 22%);
  z-index: -1;
}

#hero h1 {
  text-shadow: 3px 3px 13px #2b2b2b;
  color: #ffc61a;
  font-weight: 700;
  text-align: center;
  margin: 50px 0 30px;
}

.hero-section_preheder {
  text-shadow: 3px 3px 13px #2b2b2b;
  color: #ffc61a;
  font-weight: 700;
  margin: 0 auto;
  width: 500px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.header-wrapper {
  background: rgba(31, 31, 31, 0.85);
  height: 80px;
}

header ul li {
  list-style-type: none;
  display: inline-block;
}

.tarifs .col-md-3 {
  min-height: 29em;
}

.tarifs p {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.buy-btn {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #666666;
  /*box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgb(0 0 0 / 40%), inset 0px 2px 9px rgb(255 255 255 / 20%), inset 0 -2px 9px rgb(0 0 0 / 20%);*/
  position: relative;
  /*border-bottom: 1px solid rgba(255,255,255,0.2);*/
  display: inline-block;
  text-shadow: 0px -1px 0px rgb(0 0 0 / 20%);

  background-color: #ffc61a;
  /*box-shadow: 0 5px 5px #857331, 0 9px 0 #5e4c25, 0px 9px 10px rgb(0 0 0 / 40%), inset 0px 2px 9px rgb(255 255 255 / 20%), inset 0 -2px 9px rgb(0 0 0 / 20%);*/
  color: #000;
  border-radius: 10px / 35px;

  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  /* background-color: #666666; */
  /* box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgb(0 0 0 / 40%), inset 0px 2px 9px rgb(255 255 255 / 20%), inset 0 -2px 9px rgb(0 0 0 / 20%); */
  position: relative;
  /* border-bottom: 1px solid rgba(255,255,255,0.2); */
  display: inline-block;
  text-shadow: 0px -1px 0px rgb(0 0 0 / 20%);
  background-color: #ffc61a;
  /* box-shadow: 0 5px 5px #857331, 0 9px 0 #5e4c25, 0px 9px 10px rgb(0 0 0 / 40%), inset 0px 2px 9px rgb(255 255 255 / 20%), inset 0 -2px 9px rgb(0 0 0 / 20%); */
  color: #000;
  border-radius: 4px;
}

.buy-btn:hover {
  text-decoration: none;
  color: #000;
}

.navigation-link {
  color: #ffc61a;
  text-transform: uppercase;
  color: #ffc61a;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
}

.navigation-link:hover {
  text-decoration: none;
  color: #ffc61a;
}

.navigation-list {
  padding: 0;
}

label .direction {
  min-height: 20px;
  min-width: 100px;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}

label .direction__white {
  background-color: white;
  border-radius: 5px;
}

.navigation-header {
  margin-top: 19px;
}

.navigation-list {
  margin-top: 33px;
}

.nav-info {
  margin-top: 20px;
  list-style: none;
}

.top-form .menu-types {
  background: #ffc61a;
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 0;
  border-radius: 4px;
}

form input {
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background: #fff;
  padding: 12px 18px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  outline: none;
  font-weight: 400;
}

.address:after {
  content: "\f041";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}
.class-auto:after {
  content: "\f1b9";
}

.name:after {
  content: "\f007";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}

.email:after {
  content: "\f0e0";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}

.phone:after {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}

.date:after {
  content: "\f073";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}

.message:after {
  content: "\f040";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  border-left: 1px solid #efefef;
  padding-left: 10px;
}

.date,
.phone,
.address,
.message,
.send {
  position: relative;
  display: block;
}

.address select {
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background: #fff;
  padding: 12px 18px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  outline: none;
  font-weight: 400;
  max-height: 48px;
  cursor: pointer;
}

.message textarea {
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background: #fff;
  padding: 12px 18px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  outline: none;
  font-weight: 400;
  max-height: 48px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.top-form {
  text-align: center;
}

#hero form .col-md-5 {
  width: 25%;
  padding: 0 5px;
}

.submit {
  webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 1.9em;
  padding: 9px 40px 11px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: lowercase;
  border: 0;
  color: #1f1f1f;
  background: #ffc61a;
  display: inline-block;
  background-color: #ffc61a;
  text-transform: uppercase;
  font-size: 18px;
  padding: 17px 60px;
  line-height: 1.4em;
  padding: 14px 20px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  outline: none;
  width: 100%;
}

.menu-types {
  text-align: center;
  padding-bottom: 18px;
}

.menu-types a:hover,
.menu-types a.active {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu-types a {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
  vertical-align: middle;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f1f1f;
  width: 115px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 50% 36%;
  text-align: center;
  padding: 42px 0 10px;
  margin: 0 20px;
  transition: background 0.8s ease;
  line-height: 31px;
  font-weight: 600;
}

.menu-types a:hover {
  color: #1f1f1f;
  text-decoration: none;
}

.car-select-0 {
  background-image: url(../img/icon-car-3.png) !important;
}

.car-select-1 {
  background-image: url(../img/icon-car-5.png) !important;
}

.car-select-2 {
  background-image: url(../img/icon-car-1.png) !important;
}

.car-select-3 {
  background-image: url(../img/icon-car-4.png) !important;
}

.car-select-4 {
  background-image: url(../img/icon-car-2.png) !important;
}

.heading h4 {
  color: #ffc61a;
  margin-bottom: 0;
  font-size: 24px;
  font-family: "Fira Sans Condensed", sans-serif !important;
  margin-top: 0;
}

.heading h2 {
  color: #1f1f1f;
  margin-bottom: 40px;
  font-size: 33px;
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.what-we-do-box {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 30px;
}

.what-we-do-box > i {
  position: absolute;
  left: 0;
  top: -14px;
  font-size: 53px;
  z-index: 0;
  color: #fec519;
}

.what-we-do-box span {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 75px;
  color: #000;
}

.what-we-do-box p {
  color: #777;
  font-size: 14px;
  line-height: 25px;
  font-size: 16px;
  color: #1f1f1f;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.why .col-md-4 {
  padding: 0;
}

.why .col-md-4 img {
  padding: 0;
  max-width: 471px;
  margin-top: -10px;
}

.why {
  padding: 60px 0 40px;
}

.tarifs {
  padding: 60px 0;
  background: #f5f5f5;
}

.tarifs .heading {
  text-align: center;
}

.tarifs .col-md-3 {
  width: 100%;
  background: #fff;
  margin: 0px;
  padding: 10px 20px 20px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
}

.tarifs .image img {
  width: 100%;
}

.tarifs .col-md-3 .image {
  height: 128px;
  line-height: 150px;
}

.tarifs p a {
  color: #1f1f1f;
}

.tarifs p a:hover {
  text-decoration: none;
}

.services-box h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.services-box p {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: #1f1f1f;
  font-family: "Open Sans", sans-serif;
}

.services-box .price {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 14px;
}

.services-box .price span {
  font-size: 20px;
}

.vip {
  border: 2px solid #ffc61a !important;
  position: relative !important;
}

.vip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  content: "\f005";
  position: absolute;
  text-align: right;
  padding: 7px 7px 0 0;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 5;
  font-size: 18px;
}

.vip:after {
  border-color: transparent #ffc61a transparent;
}

.vip:after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 55px 55px 0;
  border-color: transparent #ffc61a transparent;
}

.bs-right {
  text-align: right;
}

.block-step .col-md-2 {
  padding: 0;
}

.block-step .col-md-2 h5 {
  background: #ffc61a;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  display: block;
  width: 45px;
  height: 45px;
  padding-left: 3px;
  line-height: 45px;
  color: #1f1f1f !important;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.block-step {
  margin: 16px 0;
  display: inline-block;
}

.wpb_wrapper h5 {
  font-size: 18px;
  color: #ffc61a;
}

.wpb_wrapper p {
  color: #f5f5f5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.steps {
  padding: 60px 0 0;
  background: url(../img/step-bg.jpg);
  background-size: cover;
}

.steps img {
  margin: 0 auto;
  display: block;
}

.steps .heading {
  text-align: center;
  margin-bottom: 60px;
}

.steps .heading h2 {
  color: #fff;
}

.about {
  padding: 60px 0;
}

.about .heading h2 {
  margin: 0 0 50px;
}

.why .heading h2 {
  margin: 0 0 30px;
}

hr.lg {
  background: url(../img/line-taxi.png) 0% 0% repeat-x;
  height: 16px !important;
  margin: 0;
  display: block;
  width: 100%;
  border: none;
}

ul.check.two-col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

ul.check.strong li {
  font-weight: 700;
  margin-bottom: 10px;
  color: #1f1f1f;
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 15px;
}

ul.check li i {
  display: inline-block;
  font-size: inherit;
  font-weight: 100;
  color: #ffc61a;
  position: absolute;
  margin: 0px 0 0 -26px;
}

.contact {
  padding: 60px 0;
  background: url("../img/bg-contact.jpg");
}

.footer-car {
  max-width: 300px;
  margin: 20px auto 0;
  display: block;
}

.bottom-form .menu-types {
  background: #edb91c;
  border-radius: 4px;
  padding-bottom: 0;
  padding: 4px 0;
  margin-bottom: 14px;
}

.bottom-form .menu-types a {
  width: 86px;
}

.bottom-form form input {
  margin-bottom: 10px;
}

.bottom-form .col-md-5 {
  width: 50%;
}

.contact .heading h2 {
  color: #fff;
  margin: 5px 0 0 0;
  text-transform: none;
}

.contact .heading {
  text-align-last: center;
}

footer {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.counter .col-md-6 {
  padding: 4.5px;
  position: relative;
}

.statistics-box {
  background-color: #313131;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 18px;
}

.statistics-box i {
  max-height: 63px;
  min-height: 63px;
  line-height: 63px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.statistics-box > span {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  width: 100%;
}

.statistics-box > h3 {
  margin: 0;
}

.counter-app {
  background-color: #f8f8f8;
  text-align: center;
}

/* - Statistics Box */
.counter-app .col-md-6 {
  padding: 4.5px;
  position: relative;
}
.counter-app .col-md-6::before,
.counter-app .col-md-6::after {
  position: absolute;
  content: "";
  background-color: #bcbcbc;
}
.counter-app .col-md-6::after {
  right: 0;
  width: 1px;
  bottom: 0;
  top: 0;
}
.counter-app .col-md-6::before {
  left: 0px;
  right: 0px;
  bottom: -1px;
  height: 1px;
}
.counter-app .col-md-6:nth-child(1)::after {
  top: 10px;
  bottom: 0px;
}
.counter-app .col-md-6:nth-last-child(2)::after {
  top: 0px;
  bottom: 10px;
}
.counter-app .col-md-6:nth-child(2n + 1)::before {
  left: 10px;
}
.counter-app .col-md-6:nth-child(2n + 2)::before {
  right: 10px;
}
.counter-app .col-md-6:last-child::after,
.counter-app .col-md-6:nth-child(2n + 2)::after,
.counter-app .col-md-6:nth-last-child(1)::before,
.counter-app .col-md-6:nth-last-child(2)::before {
  display: none;
}

.about p {
  font-size: 16px;
  color: #1f1f1f;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.statistics-box h3 span {
  color: #fff;
  font-size: 17px;
}

.navigation-item a:focus {
  color: #ffc61a;
  text-decoration: none;
  outline: none;
}

.menu-types a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

.top-form label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
}

.bottom-form label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
}

.nav-info img {
  width: 23px;
  margin: -4px 0 0 0;
}

.hidden-desc .auto select {
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 12px 18px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  outline: none;
  font-weight: 400;
  cursor: pointer;
}

.auto:after {
  content: "\f1b9";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hidden-desc {
  display: none;
}

.phone-mob {
  display: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #ffc61a;
}

.owl-prev span,
.owl-next span {
  font-size: 50px;
}

.owl-prev {
  position: absolute;
  top: 30%;
  left: -30px;
  outline: none;
  background: none;
}

.owl-next {
  position: absolute;
  top: 30%;
  right: -30px;
  outline: none;
  background: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent !important;
  color: #333 !important;
  text-decoration: none;
}

.bottom-form .auto:after {
  right: 27px;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: 94px;
  margin: 10px auto 0;
}

.contact h2 a {
  color: #fff;
  text-decoration: none;
}

.message textarea {
  margin-bottom: 0;
}

.bottom-form .address select {
  margin-bottom: 10px;
}

.r-tbl {
  width: 100%;
  height: 440px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
  color: #000000;
  width: 100%;
}
th.empty {
  background: #fff;
}
tr.empty:hover {
  background: #fff;
}
th {
  background-color: #fdbe01;
  font-weight: 900;
  font-size: 15px;
  padding: 15px 20px !important;
  color: #000;
  border-right: 1px solid #d7d7d7;
}
tbody tr:nth-child(even) {
  background-color: #ffffff;
}
tbody tr:hover {
  background-color: #eaeaea;
}
td {
  padding: 15px 20px !important;
  border: #d7d7d7 1px solid;
}
td s {
  color: #555;
}
td span {
  color: #ff6600;
}
.r-tbl {
  width: 100%;
  height: 440px;
  overflow: auto;
  margin-top: 50px;
}

.msg {
  display: none;
  width: 100%;
  font-size: 20px;
  background: #ffc61a;
  padding: 10px 0;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  text-align: center;
  border-radius: 4px;
}

.msg2 {
  display: none;
  width: 100%;
  font-size: 20px;
  background: #ffc61a;
  padding: 10px 0;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  text-align: center;
  border-radius: 4px;
}

.why .col-md-8 {
  padding-left: 75px;
}

.politic {
  color: #ffc61a;
}

.oferta {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
}

.oferta .wrapper {
  width: 600px;
  height: 400px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  /* .phone-desc{display: none;} */
  .statistics-box h3 span {
    font-size: 14px;
  }
  .bottom-form .menu-types a {
    width: 64px;
    background-size: 96%;
  }
  .navigation-link {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  .hidden-desc {
    display: block;
  }
  .menu-types {
    display: none !important;
  }
  #hero {
    padding-bottom: 80px;
  }
  #hero form .col-md-5 {
    width: 49%;
    padding: 0 5px;
    display: inline-block;
  }
  .header .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .header .navbar-toggle {
    display: inline-block;
    background: transparent;
    margin-right: 0;
    float: right;
    border: 1px solid #ffc61a;
    margin-top: 3px;
  }
  .header .btn-menu {
    width: 20%;
    display: inline-block;
    float: right;
  }
  .header .navbar-collapse.in {
    overflow-y: visible;
    display: inline-block !important;
  }
  .header .col-sm-2 {
    width: 100%;
  }
  .phone-desc {
    display: none;
  }
  .phone-mob {
    display: inline-block;
    margin-top: 8px;
  }
  .phone-mob a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .logo {
    float: left;
  }
  .header {
    text-align: center;
  }
  .navigation-container {
    width: 100%;
    background: rgba(31, 31, 31, 0.85);
    margin-top: 10px;
  }
  header ul li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .why .col-md-4 {
    display: none;
  }
  .steps .col-md-4:nth-child(2) {
    display: none;
  }
  .steps .col-md-4 {
    width: 49%;
    display: inline-block;
  }
  .bs-right {
    text-align: left;
  }
  .block-step .col-md-2 h5 {
    margin-left: 12px;
  }
  .bottom-form .col-md-5 {
    width: 100%;
  }
  .contact .heading {
    text-align-last: center;
    margin-top: 50px;
  }
  .top-form .address select {
    margin-bottom: 10px;
  }
  .top-form form input {
    margin-bottom: 10px;
  }
  .hidden-desc .auto select {
    margin-bottom: 10px;
  }
  .bottom-form .message textarea {
    margin-bottom: 10px;
  }
  .top-form .message textarea {
    margin-bottom: -24px;
  }
  .btn-send {
    margin: 30px 0;
  }

  .why .col-md-8 {
    padding-left: 0;
  }
}

.tabs-section {
  margin-bottom: 20px;
}

.tabs-section .tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  row-gap: 10px;
}

.tabs-section .tabs_item {
  display: block;
  border: 2px solid #ffc61a;
  padding: 4px;
  border-radius: 6px;
  margin-right: 10px;
}

.tabs-section .tabs_item:hover {
  background-color: #f0f0f0;
}

.tabs-section .tabs_item a {
  color: #1f1f1f;
  text-decoration: none;
}

@media (max-width: 767px) {
  .owl-prev {
    top: 30%;
    left: -14px;
  }
  .owl-next {
    top: 30%;
    right: -14px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: auto !important;
    margin: 0 auto;
  }
  .tarifs .col-md-3 .image {
    height: 99px;
    line-height: 150px;
    margin-top: 15px;
  }
  .bottom-form .col-md-5 {
    width: 49%;
    display: inline-block;
  }
  .bottom-form {
    text-align: center;
  }
  .bottom-form .message textarea {
    margin-bottom: -24px;
  }
  .about .heading {
    padding-left: 25px;
  }
  .col-md-12 .send {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .steps .col-md-4 {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .block-step .col-md-2 h5 {
    display: inline-block;
    margin-left: 0;
  }
  .bs-right {
    text-align: center;
  }

  .oferta .wrapper {
    width: 300px;
    height: 100%;
    overflow-y: auto;
  }

  .oferta .wrapper h2 {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  #hero form .col-md-5 {
    width: 100%;
    padding: 0 5px;
    display: inline-block;
  }
  .header .btn-menu {
    width: auto;
  }
  .top-form form input {
    margin-bottom: 10px;
  }
  .top-form .hidden-desc select {
    margin-bottom: 10px;
  }
  .bottom-form .col-md-5 {
    width: 100%;
    display: inline-block;
  }
  .bottom-form .hidden-desc .auto select {
    margin-bottom: 10px;
  }
  .bottom-form .message textarea {
    margin-bottom: 10px;
  }
  .top-form .message textarea {
    margin-bottom: 10px;
  }
  ul.check.two-col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .hero-section_preheder {
    width: 350px;
  }
}

@media (max-width: 470px) {
  .logo img {
    width: 100px;
    margin-top: 10px;
  }
  .phone-mob a {
    font-size: 14px;
  }
  .phone-mob {
    margin-top: 10px;
  }
  .about .col-md-6 {
    width: 100%;
  }
  .navigation-header {
    margin-top: 4px;
  }
  .header-wrapper {
    height: 49px;
  }
  .logo img {
    margin-top: 4px;
  }
  .header-black {
    margin-top: -49px;
    height: 49px;
  }
  .navigation-container {
    margin-top: 0;
  }
}

@media (max-width: 380px) {
  .logo img {
    margin-left: -25px;
  }
  .header .btn-menu {
    margin-right: -25px;
  }
}
