/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .spinner{
        margin: 30% auto;
    }
    .raq-right {
        top: 99px;
    }
    .client-area {
        padding: 0px;
        margin-right: 1px;
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .spinner{
        margin: 35% auto;
    }
    header {
        width:100%;
        z-index:337;
        position: relative;
        top: 8px;
    }
    .navbar-brand{
        color: #333;
    }
    .navbar-nav .nav-item .nav-link{
        color: #333;
    }
    .carspace-header p {
        padding: 0 14%;
    }
    .banner,
    .slider-1,
    .slider-2{
        padding-top: 100px; 
        padding-bottom: 100px;
    }
    .hero-text {
        position: relative;
        color: #fff;
        top: 0;
        margin-bottom: 30px;
    }
    .welcome-btn{
        position: relative;
        bottom: 0;
    }
    .pickup-form{
        margin-top: 50px;
    }
    .single-slide .owl-prev {
        left: 2%;
    }
    .single-slide .owl-next {
        right: 2%;
    }
    .offer-area{
        margin-bottom: 60px;
    }
    .offer-area .single-offer-text{
        top: 65%;
    }
    .offer-area .single-offer::after {
        right: 27.5%;
    }
    .about-btn {
        margin-bottom: 40px;
    }
    .countdown {
        margin-bottom: 60px;
    }
    .team-area {
        margin-bottom: 60px;
    }
    .faq-img{
        position: relative;
        text-align: center;
        margin-bottom: 60px;
    }
    .faq-img img{
        position: relative;
        float: none;
    }
    .blog-content {
        margin-bottom: 60px;
    }
    .blog-date {
        top: 37%;
    }
    .confirm .carspace-btn {
        width: 25%;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .spinner{
        margin: 80% auto;
    }
    .carspace-header p {
        padding: 0 8%;
    }
    header {
        width:100%;
        z-index:337;
        position: relative;
        top: 8px;
    }
    .navbar-brand{
        color: #333;
    }
    .navbar-nav .nav-item .nav-link{
        color: #333;
    }
    .banner,
    .slider-1,
    .slider-2{
        padding-top: 100px; 
        padding-bottom: 120px;
    }
    .slider-1,
    .slider-2{
        padding-left: 15px;
        padding-right: 15px;
    }
    .single-slide .owl-prev {
        display: none;
    }
    .single-slide .owl-next {
        display: none;
    }
    .hero-text {
        position: relative;
        color: #fff;
        top: 0;
        margin-bottom: 30px;
    }
    .welcome-btn{
        position: relative;
        bottom: 0;
    }
    .pickup-form{
        margin-top: 50px;
    }
    .offer-area{
        margin-bottom: 60px;
    }
    .offer-area .single-offer-text{
        top: 60%;
    }
    .about-btn {
        margin-bottom: 40px;
    }
    .countdown {
        margin-bottom: 40px;
    }
    .team-area {
        margin-bottom: 40px;
    }
    .faq-img{
        position: relative;
        text-align: center;
        margin-bottom: 60px;
    }
    .faq-img img{
        position: relative;
        float: none;
    }
    .blog-content {
        margin-bottom: 40px;
    }
    .footer-text{
        text-align: center;
    }
    .blog-date {
        top: 38%;
    }
    .contact-bg {
        padding: 30px;
    }
    .confirm .carspace-btn {
        width: 60%;
    }
    .w-bottom{
        margin-bottom: 40px;
    }
    .footer-social-link{
        float: none;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 0;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 992px) {
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and  (max-width: 992px) {
    .single-car{
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
    }
    .car-img{
        margin: 25px auto;
    }
    .car-title{
        text-align: center;
    }
    .car-info ul li{
        text-align: left;
    }
    .contact-information{
        color: #000;
        margin: auto;
    }
    .contact-information .editContent a{
        color: #000;
        text-shadow: none;
    }
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and  (max-width: 991px) {
    .car-area .thumbnail img{
        max-height: 157px;
    }

}
/* Wide Mobile Layout: 480px. */
@media only screen and  (max-width: 767px) {
    .car-area .thumbnail img{
        max-height: inherit;
    }
    #offert{
        width: 90%;
    }

}
/* Wide Mobile Layout: 480px. */
@media only screen and  (max-width: 425px) {
    .navbar-brand{
        margin: auto;
    }
    .contact-information{
        width: 100%;
        text-align: center;
    }
    .contact-information__email {
        justify-content: center;
    }
    .navbar-toggler{
        position: absolute;
        right: 0;
        top: 40px;
    }
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    opacity: 1;
}