.sidebar{
    width: 300px;    
    min-height: 100vh;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: auto; 
    padding: 20px 0;    

    &__menu{
        list-style: none;
        padding: 0;
    }

    &__item{
        padding: 6px 10px;
        font-size: 16px;
    }

    &__link{
        text-decoration: none;
        color: darkblue;

        &:hover{
            color:blue;
        }
    }

    &_linkTop{
        font-size: 24px;
    }

    &__divider{
        width: 100%;
        border-top: 2px solid black;
    }
}